@model AMS.CIM.Caojin.RPTWebApp.Models.ReqRpt004TableViewModel
<div class="col-lg-12">

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Daily Turn Rate Of @Model.FormatTargetDate</h5>
        </div>
        <div class="ibox-content">
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-line-chart"></div>
            </div>
        </div>
    </div>

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <div class="html5buttons"><div class="dt-buttons btn-group"><a class="btn btn-default buttons-excel buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" href="#" onclick="tableToExcel('DataTables_Table_0','sheet1','Turn Rate(Daily Turn)','dlink'); return false;"><span><img src="~/themes/icons/excel_2007.gif" /></span></a> <a id="dlink" style="display: none;"></a></div></div>
            <div style="margin-bottom:30px"><h5>Turn Rate(Daily Turn)</h5></div>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <table class="dataTables-example table  table-bordered table-hover" id="DataTables_Table_0">
                        <thead>
                            <tr>
                                <th id="th1">@Model.FormatTargetDate</th>
                                <th>Effective Steps</th>
                                @foreach (var item in Model.DateList)
                                {
                                    <th>@item</th>
                                }
                                <th>Total Turn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TableRowEntities)
                            {
                                <tr>
                                    <td>@item.ProductID</td>
                                    <td>@item.EffectiveSteps</td>
                                    @foreach (var entity in item.TableEntities)
                                    {
                                        <td>@entity.StrTurnRate</td>
                                    }
                                    <td>@item.StrTotalTurn</td>
                                </tr>
                            }
                            <tr>
                                <th colspan="2">Daily Total Turn</th>
                                @foreach (var item in Model.DailyTotalTurn)
                                {
                                    <td>@item</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var barOptions = {
        series: {
            lines: {
                show: true,
                lineWidth: 2,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 0.0
                    }, {
                        opacity: 0.0
                    }]
                }
            }
        },
        xaxis: {
            mode:'time'
        },
        colors: ["#1ab394"],
        grid: {
            color: "#999999",
            hoverable: true,
            clickable: true,
            tickColor: "#D4D4D4",
            borderWidth:0
        },
        legend: {
            show: true
        },
        tooltip: true,
        tooltipOpts: {
            content: "x: %x, y: %y"
        }
    };
 

    $.plot($("#flot-line-chart"),barData , barOptions);

</script>
