@model  AMS.CIM.Caojin.RPTWebApp.Models.ReqRpt023TableViewModel
<div style="border:thin;align-content:center;font-size:62.5%;">
    <p>
        Selected LotTypes:<span id="SelectedLotTypes">@string.Join(",", Model.LotTypes)</span><br />
        Selected Departments: <span id="SelectedDepartment">@string.Join(",", Model.ItemDepartments)</span><br />
        Contain Production String:<span id="Production">@Model.Production</span><br />
        TimeSpan:From <span id="FromTime">@Model.strFrom</span> To <span id="ToTime">@Model.strTo</span>
    </p>

    <div class="col-md-2">
        <input type="button" onClick="tableToExcel('tableMain','sheet1','ScrapSummariedReport.xls','dlink')" value="导出到Excel"
               class="btn btn-primary" />
        <a id="dlink" style="display: none;"></a>
    </div>

    <table id="tableMain" class="table">
        <caption>Scrap Summaried</caption>
        <thead>
            <tr>
                <th ></th>
                @foreach (string item in Model.ItemDepartments)
                {
                    <th>@item</th>
                }
                <th>@Model.TotalEntity.Department</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Reason_Desc)
            {
               <tr>
                   <th>@item.Value</th>
                   @foreach (var entity in Model.Entities)
                   {
                       <td><a href="#" onclick="QueryDetailLot('@entity.Department','@item.Key');return false;">@entity.Reasons_Pcs[item.Key].ToString()</a></td>
                   }
                   <td><a href="#" onclick="QueryDetailLot('Total','@item.Key');return false;">@Model.TotalEntity.Reasons_Pcs[item.Key].ToString()</a></td>
               </tr>
            }
               <tr>
                   <th>Total</th>
                   @foreach (var entity in Model.Entities)
                   {
                       <td><a href="#" onclick="QueryDetailLot('@entity.Department','Total');return false;">@entity.Total_Pcs.ToString()</a></td>
                   }
                   <td><a href="#" onclick="QueryDetailLot('Total','Total');return false;">@Model.TotalEntity.Total_Pcs.ToString()</a></td>
               </tr>
        </tbody>
    </table>
</div>
