@model AMS.CIM.Caojin.RPTWebApp.Models.ReqRpt025TableViewModel
<div style="border:thin;align-content:center;font-size:62.5%;">
    <p>
        TimeSpan:From <span id="FromTime">@Model.strSelecedFrom</span> To <span id="ToTime">@Model.strSelectedTo</span>
    </p>

    <div class="col-md-2">
        <input type="button" onClick="tableToExcel('tableMain','sheet1','RealTimeLineYield.xls','dlink')" value="导出到Excel"
               class="btn btn-primary" />
        <a id="dlink" style="display: none;"></a>
    </div>

    <table id="tableMain" class="table">
        <caption style="font-size:large">Real Time Line Yield</caption>
        <caption style="text-align:right">Show Time:@Model.StrShowTime</caption>
        <thead>
            <tr>
                <th rowspan="2">ProdID</th>
                <th colspan="3">FAB</th>
                <th colspan="3">WAT</th>
                <th rowspan="2">Yield</th>
            </tr>
            <tr>
                <th>PassQ'ty</th>
                <th>Scrap</th>
                <th>Yield</th>
                <th>PassQ'ty</th>
                <th>Scrap</th>
                <th>Yield</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TableEntities)
            {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.FAB_PassQty</td>
                <td>@item.FAB_ScrapQty</td>
                <td>@item.strFAB_Yield</td>
                <td>@item.WAT_PassQty</td>
                <td>@item.WAT_ScrapQty</td>
                <td>@item.strWAT_Yield</td>
                <td>@item.strYield</td>
            </tr>
            }
        </tbody>
    </table>
</div>